<html lang="en">
<head>
    <title> About </title>
</head>
<body>

<h2><%= name %></h2>
<p><%= birth_year %></p>
<p><%= eye_color %></p>
<p><%= gender %></p>
<p><%= hair_color %></p>
<p><%= height %></p>
<p><%= mass %></p>
<p><%= skin_color %></p>
<p><%= homeworld %></p>
<p><%= films %></p>
<p><%= species %></p>
<p><%= starships %></p>
<p><%= vehicles %></p>
<p><%= url %></p>
<p><%= created %></p>
<p><%= edited %></p>

</body>
</html>




